body{
  font-family: monospace;
  font-size: 12px;
}

.wtf{
  position: fixed;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-weight: bold;
  z-index: 10;
}

.wtf .infos{
  display: none;
  position: fixed;
  width: 40%;
  left: 30%;
  top: 10px;
  background: white;
  border: 1px solid;
  padding: 10px;
  color: darkgreen;
  transform: skewX(-20deg);
  font-size: 18px;
}

.wtf p{
  display: block;
}

.wtf p strong{
  color: black;
}

.tags{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: 10;
  margin: 0;
  padding: 10px;
}

ul li,
ul li h1{
  display: inline;
  font-size: 12px;
}

ul li:not(:nth-of-type(1)){
  cursor: pointer;
  border: 1px solid;
  padding: 0 3px;
}

.items{
  margin-top: 40px;
}

.item {
  transform-origin: 0 0;
  line-height: 1.25rem;
}

.item .infos{
  display: inline-block;
}

.item .infos a{
  display: inherit;
}

.item *{
  line-height: 1.25rem;
  transform: skewX(-10deg);
}
.item:nth-of-type(odd) *{
  transform: skewX(10deg);
}

.item.behind{
  display: none;
}

.item p{
  display: none;
  position: absolute;
  background: white;
  margin: 0;
  transform-origin: 0 0;
  width: 50%;
  vertical-align: top;
  z-index: 5;
  margin-left: 10px;
  padding: 10px;
  padding-top: 0;
}

.item .infos > span{
  color: darkgreen;
}

sup span{
  border: 1px solid;
  padding: 0 3px;
}

.iframe{
  display: none;
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 25px;
  width: 100vw;
  height: 50vw;
  transform: scale(.35) skew(0deg) !important;
  transform-origin: 100% 100%;
  background: white !important;
}

.iframe iframe{
  background: white !important;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border: 2px solid darkblue;
box-shadow: darkblue 14px -20px 60px -10px;
}
